<!-- Create your About page here. Tell us about the author (you!) -->
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta property="og:title" content="Aoshima - About Author" />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content="WEB222 Assignment 3 - Tourism site for Aoshima, about page"
    />
    <meta property="og:url" content="about.html" />
    <meta property="og:locale" content="en_CA" />
    <meta name="author" content="Lachlan Anderson" />
    <meta name="keywords" content="Aoshima, Ehime, Japan, Cat Island, Nekojima, Travel" />
    <meta name="description" content="WEB222 Assignment 3 - Tourism site for Aoshima, about page" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css" />
    <title>Aoshima - Cat Paradise - About the Author</title>
  </head>
  <body>
    <nav id="Navigation">
      Navigation
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="honesty">Honesty</a></li>
        <li>
          <a href="about">About<i>(You are here)</i></a>
        </li>
      </ul>
    </nav>
    <h1 id="aboutme">About the Author</h1>
    <main>
      <section>
        Hello! I am the creator of this page, Lachlan Anderson. I was born and raised in Canada, and
        I'm currently a full-time student studying Computer Programming and Analysis at Seneca
        Polytechnic in Toronto, Ontario. I'm a cat-lover, passionate about proper animal care, an
        ethical vegetarian, and an avid fan of unique travel locations. I'm particularly interested
        in travelling to remote and rural destinations, where tourism is less common. I find the
        intersection between rural tourism and the ever looming economic decline in rural
        communities to be fascinating, as they create an indescribable internal emotional conflict.
        Visiting places that are almost certainly not going to exist even 5 or 10 years down the
        line is an incredibly thought provoking experience, which I cannot recommend more.
      </section>
      <p>
        In my free time, when I'm not studying or attending classes, I spend quality time with my
        own two cats, <a href="#BlackHole">Black Hole</a> and <a href="#Theia">Theia</a>, both of
        whom are rescues. I'm also currently taking care of a pair of
        <a href="#Kittens">kittens</a>, until they are able to go to their forever home.
        <figure id="BlackHole">
          <img
            src="/img/my_cats_1.webp"
            alt="A black cat wearing a small red santa hat and a coca-cola bottle label wrapped around its midsection"
          />
          <figcaption>Black Hole for his yearly Christmas photo in 2023.</figcaption>
        </figure>
        <figure id="Theia">
          <img
            src="/img/my_cats_3.webp"
            alt="A tabby calico mix cat sleeping on its back with its belly exposed."
          />
          <figcaption>Theia enjoying an afternoon nap.</figcaption>
        </figure>
        <figure id="Kittens">
          <img
            src="/img/my_cats_2.webp"
            alt="A brown tabby kitten and a grey tabby kitten sleeping on a bed together."
          />
          <figcaption>
            The kittens cuddling together after using all their energy playing.
          </figcaption>
        </figure>
      </p>
    </main>
    <footer>
      <h3 id="contact">Contact</h3>
      <address>
        <div>Name: Lachlan Anderson</div>
        <div>Seneca ID: 113780241</div>
        <div>Seneca Email: landerson20@myseneca.ca</div>
        <div>Class: WEB222</div>
        <div>Section: NAA</div>
      </address>
      <nav>
        <strong>On this page:</strong>
        <ul>
          <li><a href="#Navigation">Back to Top</a></li>
          <li><a href="#aboutme">About the Author</a></li>
          <li><a href="#contact">Contact Information</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
