<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta property="og:title" content="Aoshima - Cat Paradise" />
    <meta property="og:type" content="article" />
    <meta
      property="og:description"
      content="WEB222 Assignment 3 - Tourism site for Aoshima, honesty statement"
    />
    <meta property="og:url" content="honesty.html" />
    <meta property="og:locale" content="en_CA" />
    <meta name="author" content="Lachlan Anderson" />
    <meta name="keywords" content="Aoshima, Ehime, Japan, Cat Island, Nekojima, Travel" />
    <meta
      name="description"
      content="WEB222 Assignment 3 - Tourism site for Aoshima, honesty statement"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css" />
    <title>Aoshima - Cat Paradise - Honesty Statement</title>
  </head>
  <body>
    <nav id="Navigation">
      Navigation
      <ul>
        <li><a href="index">Home</a></li>
        <li>
          <a href="honesty">Honesty<i>(You are here)</i></a>
        </li>
        <li><a href="about">About</a></li>
      </ul>
    </nav>
    <main>
      <h1 id="honesty">Honesty Statement</h1>
      <p>
        I declare that my assignment is wholly my own work in accordance with Seneca Academic
        Policy. No part of this assignment has been copied manually or electronically from any other
        source (including web sites) except for the information supplied by the WEB222 instructors
        and / or made available in this assignment for my use.
      </p>
      <p>I also declare that no part of this assignment has been distributed to other students.</p>

      <section>
        <h2 id="credits">Credits</h2>
        References:
        <ol>
          <li>
            <a href="https://en.wikipedia.org/wiki/Aoshima,_Ehime"
              >https://en.wikipedia.org/wiki/Aoshima,_Ehime</a
            >
          </li>
          <li>
            <a href="https://www.lostfilipina.com/2021/02/japans-cat-island-aoshima.html"
              >https://www.lostfilipina.com/2021/02/japans-cat-island-aoshima.html</a
            >
          </li>
          <li>
            <a href="https://japanswitch.com/ultimate-guide-to-aoshima-aka-cat-island-2/"
              >https://japanswitch.com/ultimate-guide-to-aoshima-aka-cat-island-2/</a
            >
          </li>
          <li>
            <a
              href="https://www.theguardian.com/world/2024/dec/27/japans-cat-island-falls-victim-to-demographic-crisis"
              >https://www.theguardian.com/world/2024/dec/27/japans-cat-island-falls-victim-to-demographic-crisis</a
            >
          </li>
          <li>
            <a href="https://www.city.ozu.ehime.jp/soshiki/nagahamash/0375.html"
              >https://www.city.ozu.ehime.jp/soshiki/nagahamash/0375.html</a
            >
          </li>
          <li>
            <a href="https://www.setouchi.travel/en/trip-ideas/13525/"
              >https://www.setouchi.travel/en/trip-ideas/13525/</a
            >
          </li>
          <li>
            <a href="https://travel.gaijinpot.com/aoshima-cat-island/"
              >https://travel.gaijinpot.com/aoshima-cat-island/</a
            >
          </li>
          <li>
            <a
              href="https://www.bokksu.com/blogs/news/aoshima-discovering-japan-s-mesmerizing-cat-island"
              >https://www.bokksu.com/blogs/news/aoshima-discovering-japan-s-mesmerizing-cat-island</a
            >
          </li>
        </ol>

        Media: <i>In order of appearance <a href="index.html">on homepage</a></i>
        <ol>
          <li>
            Image of Aoshima's Port
            <div>
              <small
                >By
                <a
                  href="//commons.wikimedia.org/w/index.php?title=User:%E6%9A%87%E3%83%BB%E3%82%AB%E3%82%AD%E3%82%B3&amp;action=edit&amp;redlink=1"
                  class="new"
                  title="User:暇・カキコ (page does not exist)"
                  >暇・カキコ</a
                >
                - <span class="int-own-work" lang="en">Own work</span>,
                <a
                  href="https://creativecommons.org/licenses/by-sa/4.0"
                  title="Creative Commons Attribution-Share Alike 4.0"
                  >CC BY-SA 4.0</a
                >,
                <a href="https://commons.wikimedia.org/w/index.php?curid=41106596">Link</a></small
              >
            </div>
          </li>
          <li>
            Ambient waves sounds
            <div>
              <small
                ><a href="https://freesound.org/people/InspectorJ/sounds/400632/"
                  >Ambience, Seaside Waves, Close, A.wav</a
                >
                by <a href="https://freesound.org/people/InspectorJ/">InspectorJ</a> | License:
                <a href="https://creativecommons.org/licenses/by/4.0/">Attribution 4.0</a></small
              >
            </div>
          </li>
          <li>
            360 Video of cats on Aoshima
            <div>
              <small
                >By
                <a href="https://www.youtube.com/watch?v=TbJZ0WP8OUg"
                  >MewPro development on YouTube</a
                ></small
              >
            </div>
          </li>
          <li>
            Image of resident feeding cats
            <div>
              <small
                >By
                <a
                  href="//commons.wikimedia.org/w/index.php?title=User:%E6%9A%87%E3%83%BB%E3%82%AB%E3%82%AD%E3%82%B3&amp;action=edit&amp;redlink=1"
                  class="new"
                  title="User:暇・カキコ (page does not exist)"
                  >暇・カキコ</a
                >
                - <span class="int-own-work" lang="en">Own work</span>,
                <a
                  href="https://creativecommons.org/licenses/by-sa/4.0"
                  title="Creative Commons Attribution-Share Alike 4.0"
                  >CC BY-SA 4.0</a
                >,
                <a href="https://commons.wikimedia.org/w/index.php?curid=41106598">Link</a></small
              >
            </div>
          </li>
          <li>
            Aerial photograph of Aoshima
            <div>
              <small
                >By
                <a
                  href="//commons.wikimedia.org/w/index.php?title=User:%E6%9A%87%E3%83%BB%E3%82%AB%E3%82%AD%E3%82%B3&amp;action=edit&amp;redlink=1"
                  class="new"
                  title="User:暇・カキコ (page does not exist)"
                  >暇・カキコ</a
                >
                - <span class="int-own-work" lang="en">Own work</span>,
                <a
                  href="https://creativecommons.org/licenses/by-sa/4.0"
                  title="Creative Commons Attribution-Share Alike 4.0"
                  >CC BY-SA 4.0</a
                >,
                <a href="https://commons.wikimedia.org/w/index.php?curid=41106596">Link</a></small
              >
            </div>
          </li>
          <li>
            360 video of resident feeding cats
            <div>
              <small
                >By
                <a href="https://www.youtube.com/watch?v=lOJ13IgqoF0"
                  >MewPro development on YouTube</a
                ></small
              >
            </div>
          </li>
          <li>
            Image of Aoshima Port waiting room
            <div>
              <small
                >By
                <a
                  href="//commons.wikimedia.org/w/index.php?title=User:%E6%9A%87%E3%83%BB%E3%82%AB%E3%82%AD%E3%82%B3&amp;action=edit&amp;redlink=1"
                  class="new"
                  title="User:暇・カキコ (page does not exist)"
                  >暇・カキコ</a
                >
                - <span class="int-own-work" lang="en">Own work</span>,
                <a
                  href="https://creativecommons.org/licenses/by-sa/4.0"
                  title="Creative Commons Attribution-Share Alike 4.0"
                  >CC BY-SA 4.0</a
                >,
                <a href="https://commons.wikimedia.org/w/index.php?curid=41106705">Link</a></small
              >
            </div>
          </li>
          <li>
            Image of former Aoshima elementary school building
            <div>
              <small
                >By
                <a
                  href="//commons.wikimedia.org/w/index.php?title=User:%E6%9A%87%E3%83%BB%E3%82%AB%E3%82%AD%E3%82%B3&amp;action=edit&amp;redlink=1"
                  class="new"
                  title="User:暇・カキコ (page does not exist)"
                  >暇・カキコ</a
                >
                - <span class="int-own-work" lang="en">Own work</span>,
                <a
                  href="https://creativecommons.org/licenses/by-sa/4.0"
                  title="Creative Commons Attribution-Share Alike 4.0"
                  >CC BY-SA 4.0</a
                >,
                <a href="https://commons.wikimedia.org/w/index.php?curid=41106704">Link</a></small
              >
            </div>
          </li>
          <li>
            Image of Aoshima desginated cat feeding area
            <div>
              <small
                >By
                <a
                  href="//commons.wikimedia.org/w/index.php?title=User:%E6%9A%87%E3%83%BB%E3%82%AB%E3%82%AD%E3%82%B3&amp;action=edit&amp;redlink=1"
                  class="new"
                  title="User:暇・カキコ (page does not exist)"
                  >暇・カキコ</a
                >
                - <span class="int-own-work" lang="en">Own work</span>,
                <a
                  href="https://creativecommons.org/licenses/by-sa/4.0"
                  title="Creative Commons Attribution-Share Alike 4.0"
                  >CC BY-SA 4.0</a
                >,
                <a href="https://commons.wikimedia.org/w/index.php?curid=41106603">Link</a></small
              >
            </div>
          </li>
          <li>
            Image of Aoshima cats crowding around food on ground
            <div>
              <small
                >By
                <a
                  href="//commons.wikimedia.org/w/index.php?title=User:%E6%9A%87%E3%83%BB%E3%82%AB%E3%82%AD%E3%82%B3&amp;action=edit&amp;redlink=1"
                  class="new"
                  title="User:暇・カキコ (page does not exist)"
                  >暇・カキコ</a
                >
                - <span class="int-own-work" lang="en">Own work</span>,
                <a
                  href="https://creativecommons.org/licenses/by-sa/4.0"
                  title="Creative Commons Attribution-Share Alike 4.0"
                  >CC BY-SA 4.0</a
                >,
                <a href="https://commons.wikimedia.org/w/index.php?curid=41106597">Link</a></small
              >
            </div>
          </li>
        </ol>
      </section>
    </main>
    <footer>
      <h3 id="contact">Contact</h3>
      <address>
        <div>Name: Lachlan Anderson</div>
        <div>Seneca ID: 113780241</div>
        <div>Seneca Email: landerson20@myseneca.ca</div>
        <div>Class: WEB222</div>
        <div>Section: NAA</div>
      </address>
      <time datetime="2025-02-17">Dated: February 17th, 2025</time>
      <nav>
        <strong>On this page:</strong>
        <ul>
          <li><a href="#Navigation">Back to Top</a></li>
          <li><a href="#honesty">Honesty Statement</a></li>
          <li><a href="#credits">Credits</a></li>
          <li><a href="#contact">Contact Information</a></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
